/* Reset some basic elements */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    color: white;
    background-color: black;
}

header {
    color: white;
    padding: 20px 0;
    width: 100%; /* Garante que o cabeçalho ocupe a largura total */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px; /* Adjust the padding value */
    width: calc(100% - 400px); /* Subtract the total padding value from the width */
    overflow-x: hidden;
    margin: 0 auto;
}
nav img {
    width: 200px; /* Adjust based on actual logo size */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #ffffff;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4720d3;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}
  
/* Presentational styles */
nav ul li a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
}

nav ul li:hover {
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s ease-in-out;
}

nav ul li:hover::after {
    width: 100%;
}

.nav ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s ease-in-out;
}

.nav ul li:hover::before {
    width: 0;
    left: auto;
    right: 0;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 13px 28px;
    border: none;
    background-color: #081169;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    color: #2136f3;
    background-color: #fff;
    box-shadow: 0 0 20px hsla(263, 77%, 31%, 0);
  }
  
  .animated-button:active {
    scale: 0.9;
  }
  
  .animated-button:hover:before {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
  }
  
.image-e-logo {
    position: relative;
    width: 100%; /* ajuste conforme necessário */
}

.image-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Logo-centro {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* para que a imagem não ultrapasse os limites do container */
    max-height: 100%; /* para que a imagem não ultrapasse os limites do container */
    animation: pulse 9s infinite
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

main {
    margin-top: 80px;
    padding: 20px 10%;
    width: 60%; /* Garante que o conteúdo principal ocupe a largura total */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo de main verticalmente */
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: -2;
        transform: translateY(5rem);
    }
    to {
        opacity: 2;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.hidden {
    opacity: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ajustado para conteúdo */
    gap: 80px;
    width: 100%; /* Garante que o grid-container ocupe a largura total */
}

.grid-item {
    padding: 20px;
}

.grid-item p {
    font-size: 14px;
}
.grid-item h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

iframe {
    width: 100%; /* Adjust based on content */
    border: none;
}

#grid-1 {
    grid-column: 1; /* Span 2 columns */
    width: 35rem;
}
#grid-2 {
    grid-column: 1; /* Span 2 columns */
    grid-row: 2;
    width: 550px;
    margin-left: 50px;
}
#grid-3 {
    grid-column: 2; /* Span 2 columns */
    grid-row: 2;
    width: 32rem;
    margin-left: -80px;
}
#grid-3 {
    text-align: right;
}
#grid-4 {
    grid-column: 1; /* Span 2 columns */
    width: 35rem;
}

.O {
    border-bottom: 2px solid #0032ad;
}

.titulo-esquerda {
    border-left: 2px solid #0032ad;
    padding-left: 5px;
}
.titulo-direita {
    border-right: 2px solid #0032ad;
    padding-right: 5px;
}

.title {
    font-family: "Anton", sans-serif;
    font-size: 42px;
    letter-spacing: 10px;
    text-transform: uppercase;  
}

.grid-item h2 {
    font-family: "Anton", sans-serif;
    letter-spacing: 5px;
}

.grid-item p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

/* Atualizações com base no HTML fornecido */

.container-redes {
    width: 100%; /* Garante que o container das redes ocupe a largura total */
    padding-top: 100px;
}

.grid-redes img {
    width: 500px;
    margin-right: 160px;
    margin-left: 120px;
}

.container-redes .grid-redes {
    display: grid;
    grid-template-columns: 1fr 1.5fr; /* 4 imagens em uma linha */
    gap: 10px;
    justify-content: center; /* Centraliza os itens da grid horizontalmente */
}

.container-redes .grid-redes div {
    background-size: cover;
    height: 100px; /* Ajuste baseado no tamanho real */
    float: right;
}

.container-redes .textos-redes .grid-textos-redes {
    display: grid;
    grid-template-columns: 1fr; /* Ajustado para 4 textos em uma linha */
    gap: 60px;
    margin-top: 60px;
    justify-content: center; /* Centraliza os textos horizontalmente */
}

.grid-textos-redes {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 70%;
    margin-right: 150px;
}

.texto1 h2, .texto2 h2, .texto3 h2, .texto4 h2 {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    border-right: #0032ad 2px solid;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}

.texto1 p, .texto2 p, .texto3 p, .texto4 p {
    text-align: left;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.container-red3s .textos-redes .grid-textos-redes div {
    padding: 14; 
    text-align: center; /* Centraliza o texto dentro de cada div */
}

.box {
    position: relative;
    width: 45rem;
    height: 25rem;
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 200%;
    background: linear-gradient(180deg, #0437b8, #0437b8);
    filter: blur(15px) opacity(70%);
    animation: animate 6s linear infinite;
}

.box::after{
    content: "";
    position: absolute;
    background-image: url('../img/fundo-preto.png');
    inset: 2px;
    border-radius: inherit;
}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.fundo-azul {
    background: 
    linear-gradient(27deg, #0033cc 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #0044ff 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #0055ff 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #0066ff 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #0077ff 10px, transparent 10px),
    linear-gradient(#0008ff 25%, #1319c4 25%, #1a0aaa 50%, transparent 50%, transparent 75%, #1319c4 75%, #0008ff);
    background-color: #0033cc;
    position: absolute;
    top: -70px; /* Ajusta a posição para centralizar */
    left: -30px; /* Ajusta a posição para centralizar */
    width: calc(100% + 110px); /* Aumenta a largura */
    height: calc(100% + 130px); /* Aumenta a altura */
    border-radius: 80px;
    z-index: 0; /* Coloca a div no fundo */
    animation: pulsar 3s infinite; /* Animação de pulsação */
    filter: blur(50px);
}

@keyframes pulsar {
    0% {
        transform: scale(0.7);
        opacity: 0.5;
    }
    50% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.7);
        opacity: 0.5;
    }
} 

.image-container {
    flex: 1; /* Ocupa 1 parte do espaço disponível */
    max-width: 150px; /* Define uma largura máxima para a imagem */
    margin-right: 100px; /* Espaçamento entre a imagem e o texto */
    margin-left: 100px;
    position: relative; /* Necessário para posicionamento absoluto dos filhos */
    z-index: 1; /* Coloca a imagem acima da div fundo-azul */
}

.image-container img {
    width: 200px; /* Faz a imagem ocupar toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    filter: invert(50%) contrast(170%) brightness(1000%);
    position: relative; /* Necessário para garantir que a imagem fique acima da div fundo-azul */
    z-index: 1; /* Coloca a imagem acima da div fundo-azul */
}

.text-container {
    flex: 2; /* Ocupa 3 partes do espaço disponível */
    text-align: right;
    font-family: "Montserrat", sans-serif;
    margin-right: 50px;
    z-index: 1;
}

.image-large {
    position: relative;
    width: 100vw; /* Faz com que ocupe 100% da largura da viewport */
    height: auto;
    margin-top: 150px; /* Mantém o espaçamento desejado do topo */
    transform: translateX(-10px);
    overflow: hidden;
}

.image-100 {
    width: 100%;
    height: auto;
    position: relative;
}

.image-100 img {
    width: 100%;
    height: auto;
    display: block; /* Remove espaços em branco abaixo da imagem */
    filter: opacity(70%);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 5px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    z-index: 1; /* Garante que o texto fique acima da imagem */
}